################################################################################
# Ten plik .gitignore został utworzony automatycznie przez Microsoft(R) Visual Studio.
################################################################################

/.vs
/NaszePepowoBlazor/.vs/NaszePepowoBlazor/v16
/NaszePepowoBlazor/obj
/NaszePepowoBlazor/.vs/NaszePepowoBlazor/config
/NaszePepowoBlazor/publish
