@namespace NaszePepowoBlazor.Shared.Components

<div class="team-clean">
    <div class="container">
        <div class="intro">
            <h2 class="text-center">Nasza załoga</h2>
            <p class="text-center">Poniżej znajdziesz dane kontaktowe do osób odpowiedzialnych za rozwój wsi Pępowo.</p>
        </div>
        <div class="row people">
            <div class="col-md-6 col-lg-4 invisible item">
                <img class="rounded-circle" src="assets/img/1.jpg">
                <h3 class="name">Ben Johnson</h3>
                <p class="title">Sołtys</p>
                <p class="description">Aenean tortor est, vulputate quis leo in, vehicula rhoncus lacus. Praesent aliquam in tellus eu gravida. Aliquam varius finibus est, et interdum justo suscipit id. Etiam dictum feugiat tellus, a semper massa. </p>
                <div class="social"><a href="#"><i class="fa fa-facebook-official"></i></a><a href="#"><i class="fa fa-twitter"></i></a><a href="#"><i class="fa fa-instagram"></i></a></div>
            </div>
            <div class="col-md-6 col-lg-4 item">
                <img class="rounded-circle" src="assets/img/5[663].jpg">
                <h3 class="name">Katarzyna Wierczyńska</h3>
                <p class="title">Sołtys</p>
                <p class="description">Telefon: +48 692-150-191</p>
                <p class="description">E-mail:&nbsp;kasia.wierczynska@op.pl</p>
                <div class="social"></div>
            </div>
            <div class="col-md-6 col-lg-4 invisible item">
                <img class="rounded-circle" src="assets/img/3.jpg">
                <h3 class="name">Carl Kent</h3>
                <p class="title">Przewodnicząca KGW</p>
                <p class="description">Aenean tortor est, vulputate quis leo in, vehicula rhoncus lacus. Praesent aliquam in tellus eu gravida. Aliquam varius finibus est, et interdum justo suscipit id. Etiam dictum feugiat tellus, a semper massa. </p>
                <div class="social"><a href="#"><i class="fa fa-facebook-official"></i></a><a href="#"><i class="fa fa-twitter"></i></a><a href="#"><i class="fa fa-instagram"></i></a></div>
            </div>
        </div>
    </div>
</div>

@code {

}
